<% @side_bar = true %>
<% @skip_footer = true %>
<% @skip_header = true %>

<h1>Stage 1 Battle!</h1>
<div class="divider"></div>

<ul>
  <li>Name: <%= @monster.name %></li>
  <li>HP: <%= @monster.hp %></li>
</ul>

<div><img class="resize" src="<%= @monster.image %>" /></div>



<!-- <div class="row bordering">
  <div class="col s2">1</div>
  <div class="col s2">2</div>
  <div class="col s2">3</div>
  <div class="col s2">4</div>
  <div class="col s2">5</div>
  <div class="col s2">6</div>
</div>

<div class="row">
</div>

<div class="row bordering">
  <div class="col s2">1</div>
  <div class="col s2">2</div>
  <div class="col s2">3</div>
  <div class="col s2">4</div>
  <div class="col s2">5</div>
  <div class="col s2">6</div>
</div> -->
