
<% @side_bar = true %>
<% @skip_footer = true %>
<% @skip_header = true %>

<h1> Inventory yo</h1>
<div class="divider"></div>


<p>
  Bleh... Just check out Rajal Puns.
</p>

<p>
  Reset characters <b>health</b> to full! Might as well..
</p>
