
<% @skip_header = true %>
<% @side_bar = true %>

<h1>Stages:</h1>
<div class="divider"></div>


<div class="row">
  <div class="col s12 m6">
    <div class="card stage-details">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1424746219973-8fe3bd07d8e3?q=80&fm=jpg&s=69c2c4804c5892bd8f882afa7ee4e003">
        <span class="card-title">Stage 1</span>
      </div>
      <div class="card-content">
        <p>Stage Details.</p>
      </div>
      <div class="card-action">
        <a href="#">Enter</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card stage-details">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1424746219973-8fe3bd07d8e3?q=80&fm=jpg&s=69c2c4804c5892bd8f882afa7ee4e003">
        <span class="card-title">Stage 2</span>
      </div>
      <div class="card-content">
        <p>Stage Details.</p>
      </div>
      <div class="card-action">
        <a href="#">Enter</a>
      </div>
    </div>
  </div>
</div>
