
<% @side_bar = true %>
<% @skip_footer = true %>
<% @skip_header = true %>

<h1>Settings</h1>
<div class="divider"></div>

<p>
  Available Stats:
  <%= @character.unassigned %>
</p>


<% if @form_message %>
  <div><%= @form_message %></div>
<% end %>


<div class="col s12">
  <form action="/character/<%= @character.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <div class="row">
      <div class="input-field col s4">
        <input type="text" name="name" value="<%= @character.name %>" />
        <label for="name">Edit Character Name</label>
      </div>
    </div>

    <div class="row">
      <div>
        <input class="btn" type="submit" name="action" value="Edit" />
      </div>
    </div>

  </form>
</div>
