<h1>Login yo</h1>

<% if @form_error %>
  <div><%= @form_error %></div>
<% end %>


<form action="/login" method="POST">
  <div>
    <input name="username" type="text" value="<%= @username %>" />
    <label for="username">Username</label>
  </div>

  <div>
    <input name="password" type="password" />
    <label for="password">Password</label>
  </div>

  <div>
    <input class="btn" type="submit" name="action" value="Login" />
  </div>
</form>
