<!-- Character creation -->

<!-- display character image -->

<!-- UX create scrollable creation page -->
<!-- 1. Select Name, Select Avatar/Upload Avatar -->
<!-- 2. ATK/ARMOR Stat selection -->
<!-- 3. STRETCH == Character Types -->

<h1>Character Creation</h1>

<!-- NEED TO FIX -->
<div class="total-stuff">
  <p>Attack + Armor Cannot exceed 15 points</p>
  <p>Total Points Left: <div id="total">15</div></p>
</div>

<div class="attack-stuff">
  <p>Attack:</p>

  <div id="display-atk">0</div>

  <button class="add" name="atk">Add</button>
  <button class="sub" name="atk">Subtract</button>
</div>

<div class="defense-stuff">
  <p>Armor:</p>

  <div id="display-def">0</div>
  <button class="add" name="def">Add</button>
  <button class="sub" name="def">Subtract</button>
</div>


<form action="/profile/<%= auth_current_user.id %>/select" method="POST">
  <div>
    <input name="name" type="text" />
    <label for="name">Name</label>
  </div>

  <div>

    <input name="atk" type="hidden" id="ainput" />
    <label for="atk">ATK</label>

    <input name="def" type="hidden" id="binput" />
    <label for="def">DEF</label>
  </div>

  <div>
    <input class="btn" id="uniq-btn" type="submit" name="action" value="Create" />
  </div>
</form>



<!-- Cancel and Redirect to profile page -->

<div>
  <form method="link" action="/profile/<%= auth_current_user.id %>">
    <input class="btn" type="submit" value="Cancel"/>
  </form>
</div>


<!-- Play Game Button -->
<!-- Action requires page to game interface -->

<div>
  <form method="link" action="">
    <input class="btn" type="submit" value="Play Game"/>
  </form>
</div>
