<!-- Character creation -->

<!-- display character image -->

<!-- UX create scrollable creation page -->
<!-- 1. Select Name, Select Avatar/Upload Avatar -->
<!-- 2. ATK/ARMOR Stat selection -->
<!-- 3. STRETCH == Character Types -->

<h1>Character Creation</h1>

<!-- NEED TO FIX -->

<form action="/profile/<%= auth_current_user.id %>/select" method="POST">
  <div>
    <input name="name" type="text" />
    <label for="name">Name</label>
  </div>

  <div>
    <p>Attack + Armor Cannot exceed 15 points</p>
    <!-- <p>Total Points Left: <div id="total"></div></p>

    <p>Attack:</p>
    <div id="a" name="atk"></div>
    <button id="add1">Add</button>
    <button id="sub1">Subtract</button> -->

    <input name="atk" type="text" id="ainput" />
    <label for="atk">ATK</label>

    <!-- <p>Armor:</p>
    <div id="b" name="armor"></div>
    <button id="add2">Add</button>
    <button id="sub2">Subtract</button> -->

    <input name="def" type="text" id="binput" />
    <label for="def">DEF</label>
  </div>

  <div>
    <input class="btn" id="uniq-btn" type="submit" name="action" value="Create" />
  </div>
</form>



<!-- Cancel and Redirect to profile page -->

<div>
  <form method="link" action="/profile/<%= auth_current_user.id %>">
    <input class="btn" type="submit" value="Cancel"/>
  </form>
</div>


<!-- Play Game Button -->
<!-- Action requires page to game interface -->

<div>
  <form method="link" action="">
    <input class="btn" type="submit" value="Play Game"/>
  </form>
</div>
