<!-- Character creation -->

<!-- display character image -->

<!-- UX create scrollable creation page -->
<!-- 1. Select Name, Select Avatar/Upload Avatar -->
<!-- 2. ATK/ARMOR Stat selection -->
<!-- 3. STRETCH == Character Types -->
<% %>

<h1>Character Creation</h1>

<p>
  Instructions: <br/>
  Please input character name, assign stat points, and click on "Create" below.
</p>

<div class="row">
  <div class="input-field col s4">
    <input name="name" type="text" id="getName" value="" />
    <label class="active" for="name">Character Name</label>
  </div>
</div>

<div class="total-stuff">
  <p>Assign stat points:</p>
  <p>Total Points Left: <div id="total">20</div></p>
</div>

<div class="attack-stuff">
  <p>Attack:</p>

  <div id="display-atk">0</div>

  <button class="add" name="atk">+</button>
  <button class="sub" name="atk">-</button>
</div>

<div class="defense-stuff">
  <p>Armor:</p>

  <div id="display-def">0</div>
  <button class="add" name="def">+</button>
  <button class="sub" name="def">-</button>
</div>

<br/>

<form action="/profile/<%= auth_current_user.id %>/select" method="POST" id="createCharForm">
  <div class="hidden">
    <input name="name" type="text" id="nameInput" value="" />

    <input name="atk" type="text" id="atkInput" value="" />

    <input name="def" type="text" id="defInput" value="" />
  </div>
  <div>
    <input class="btn" id="uniq-btn" type="submit" name="action" value="Create" />
  </div>
</form>

<br/>

<!-- Cancel and Redirect to profile page -->

<div>
  <a href="/profile/<%= @user.id %>" class="button btn">Cancel</a>
</div>
