
<footer class="page-footer brown lighten-1">

  <div class="footer-copyright brown lighten-1">
    <div class="container">
    © 2015 Philip Yoo // a DBC project
    <a class="grey-text text-lighten-4 right" href="http://philipyoo.github.io/">Visit my Personal site!</a>
    </div>
  </div>
</footer>
