
<!-- Create Partials for Nav Bar -->


<nav>
  <div class="nav-wrapper">

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>

      <% if auth_logged_in? === false %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% end %>

      <% if auth_logged_in? %>
        <a href="/profile/<%= auth_current_user.id %>" class="brand-logo right">
          <%= auth_current_user.username %>
        </a>

        <li><a href="/profile/<%= auth_current_user.id %>/edit">Edit</a></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <a href="/profile/<%= auth_current_user.id %>" class="brand-logo right">
          Basic
        </a>
      <% end %>

    </ul>
  </div>
</nav>
