<!-- landing page -->

<h2>Welcome to</h2>

<h1>Basic RPG</h1>

<p>Some information here about the project, about me, about the game, about frameworks and tools used, etc...</p>

<div>
  <form method="link" action="/login">
    <input class="btn" type="submit" value="Get Started!"/>
  </form>
</div>