<!-- landing page -->
<% @skip_header = true %>
<% @skip_footer = true %>

<h2>Welcome to</h2>

<h1>Basic RPG</h1>

<p>
  Hello and thank you for visiting Basic RPG. Basic RPG is, as the name implies, an RPG game with basic features available.
</p>
<p>
  Hope you enjoy the game!
</p>


<div>
  <form method="link" action="/login">
    <input id="home-page-btn" class="btn" type="submit" value="Get Started!"/>
  </form>
</div>
