<!-- landing page -->
<% @skip_header = true %>
<% @skip_footer = true %>

<div class="col s12 home-page" id="explode-this">
  <div class="row">
    <h2 class="center-align col s12">Welcome to</h2>
    <br/>
    <div class="center-align col s12 front-logo">Basic RPG</div>

    <div class="center-align offset-s3 col s6">
      Hello and thank you for visiting Basic RPG.
    </div>
    <div class="center-align col s12">
      Hope you enjoy the game!
    </div>


    <p class="center-align col s12" id="home-page-btn">
      <a href="/login" class="button btn">Get Started</a>
    </p>
  </div>
</div>
